<!-- Footer -->
<footer class="page-footer normal-font">
    <article class="tools">
        <h1>Tools and Resources</h1>
        <ul>
            <li><a href="http://validator.w3.org/check/referer">W3C - HTML-validator</a></li>
            <li><a href="https://stackoverflow.com/">Stack Overflow</a></li>
            <li><a href="https://developer.mozilla.org/en-US/">MDN - Mozilla Developers Network</a></li>
            <li><a href="https://css-tricks.com/">CSS-tricks</a></li>
        </ul>
    </article>
    <address>
        <p class="author">Anders Löfqvist &copy; 2023</p>
        <p>&#128236; <a href="mailto:anders@lofqvist.me">anders@lofqvist.me</a></p>          
        <a href="https://github.com/Zaccarihas"><i class="fa-brands fa-github"></i></a>
    </address>
    <article class="page-metadata">        
        <table class="pagedata">
            <tr><th scope="row">request ip</th><td>{{ reqip }}</td></tr>
            <tr><th scope="row">loadtime</th><td>{{ loadtime }} ms</td></tr>
            <tr><th scope="row">number of files</th><td>{{ files }}</td></tr>
            <tr><th scope="row">current memory usage</th><td>{{ mem.current }}</td></tr>
            <tr><th scope="row">memory peak usage</th><td>{{ mem.max }}</td></tr>
            <tr><th scope="row">memory limit</th><td>{{ mem.limit }}</td></tr>

        </table>
    </article>
</footer>